.container {
    
    margin: 6% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.conteudo{
    width: 20%;
    margin: 6% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info1 {
    width: 30%;
    margin: 6% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 768px) { 
    .info1 {
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}

@media only screen and (max-width: 480px) { 
    .info1 {
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
    
}

.carousel-item {
    display: flex;
    align-content: center;

    background-color: #24bce4;
    color: white;
    border: solid black 2px;
    border-radius: 10px;
}







