.container {
    display: flex;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    margin: 2%;
}

