.container {
    
    margin: 6% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info1 {
    width: 30%;
    margin: 0 auto;
}

.carousel-item {
    display: flex;
    align-content: center;

    background-color: #24bce4;
    color: white;
    border: solid black 2px;
    border-radius: 10px;
}






